<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sushiyu.smartshot">
    <uses-feature android:name="android.bluetooth.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:versionCode="2"
        android:versionName="1.0.0"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VedioShot"
            android:configChanges="locale"
            android:label="@string/title_activity_vedio_shot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ABpoint"
            android:configChanges="locale"
            android:label="@string/title_activity_abpoint"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name=".BluetoothLeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".DelayShot"
            android:configChanges="locale"
            android:label="@string/title_activity_delay_shot"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>